@charset "ISO-8859-1";
.input{
	display: flex;
	flex-direction: column;

}
.input input{
	border: 1px solid black;
}
.input textarea{
	border: 1px solid black;
}
.submit{
	display: flex;
	gap: 4px;
	margin-top: 4px;
}



